.event-details-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 20px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.event-details-container .content-overlay {
  position: relative;
  z-index: 2;
}

.event-details-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(20px);
  z-index: 1;
  opacity: 0.75;
}

.event-details-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

/* Ensure your content is on top */
.back-container, .edit-event-container, .details-component-container {
  position: relative;
  z-index: 2;
}

.form-title{
    background-image: linear-gradient(45deg, var(--color), var(--background-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    margin-bottom: 1rem;
    font-size: var(--h2-font-size);
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.create-event-label {
  /* display: block; */
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--color);
  padding: 0.4rem 0;
  font-size: 1rem;
}

.form-input {
  width: fit-content;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--color);
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  font-family: inherit;
  color: var(--pink-background);
  background-color: inherit;
  font-weight: 600;
  transform: translateY(-0.3rem);
}

.form-description{
  margin-bottom: 2px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.text-description{
  width: 100%;
  height: 7rem;
  resize: none;
  border: none;
  /* border: 1px solid var(--color); */
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
  color: var(--pink-background);
  padding: 0.75rem;
  background: inherit;
  font-weight: 800;
  outline: none;
}

.text-description:focus{
  outline: none;
  border-color: var(--color);
  box-shadow: 0 0 4px var(--color);
}

.form-input-date{
  width: 100%;
  padding: 0.75rem;
  /* border: 1px solid var(--accent-color); */
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  background: inherit;
  color: var(--pink-background);
  width: fit-content;
  font-weight: 600;
}

.form-input-date:focus {
  outline: none;
  border-color: var(--color);
  box-shadow: 0 0 4px var(--color);
}

.form-input:focus {
  outline: none;
  border-color: var(--color);
  box-shadow: 0 0 4px var(--color);
}


.form-image {
  /* This is the key to creating the custom dashed effect */
  border: 2px solid transparent; /* A transparent border is required for border-image to work */
  border-image: repeating-linear-gradient(
    to right,
    var(--color) 0,
    var(--color) 15px, /* Adjust this value to control the dash length */
    white 10px,
    white 22px /* Adjust this value to control the space between dashes */
  ) 1;

  /* Basic styling for the container */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  /* width: 100%; */
  height: 500px;
  width: 400px;
  aspect-ratio: 16/9; /* Maintain a consistent aspect ratio */
  transition: all 0.3s ease;
  background-color: var(--pink-background);
  overflow: hidden;
}

.form-image input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Make it completely transparent */
  cursor: pointer; /* Keep the pointer icon */
}

.image-preview img {
  width: 100%;
  height: 100%;
   /* max-height: 400px; Ensures it fits the form */
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  object-fit: contain;
}

.placeholder-icon{
  color: var(--color);
}

.remove-image-btn{
  position: absolute;
  background: transparent;
  padding: 3px 5px;
  font-size: 1.5rem;
  border-radius: 4px;
  color: white;
  border: 1px solid white;
}

.placeholder-text{
  color: #a0a0a0;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.form-input::placeholder{
  color: var(--pink-background);
}


.submit-button {
  width: 100%; 
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--color);
  color: var(--pink-background);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover{
  background-image: linear-gradient(45deg, var(--color), var(--background-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
}

.create-event-btns{
  background-color: var(--pink-background);
  border-radius: 5px;
}

@media (max-width:450px) {

  .event-details-container{
    padding: 10px;
  }

  .form-image{
    height: 400px;
    width: 300px;
  }

}